docs/bot.json
{
  "name": "XtraTrust DSC Semi-Automation",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "fileSelector": "/home/user/xtratrust/dsc_data.xlsx"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Read Excel File",
      "type": "n8n-nodes-base.readBinaryFiles",
      "typeVersion": 1,
      "position": [420, 300],
      "notes": "UPDATE FILE PATH to your actual .xlsx location"
    },
    {
      "parameters": {
        "operation": "fromFile",
        "binaryPropertyName": "data",
        "options": {
          "headerRow": true,
          "sheetName": "Sheet1"
        }
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Parse Spreadsheet",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json[\"Status\"] }}",
              "rightValue": "to be applied",
              "operator": {
                "type": "string",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Filter: to be applied",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "command": "=node /home/user/xtratrust/xtratrust_fill.js \"{{ $json[\"Mobile No.\"] }}\" \"{{ $json[\"Aadhaar No.\"] }}\" \"{{ $json[\"email id\"] }}\" \"{{ $json[\"Sr. No.\"] }}\""
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Launch Browser Playwright",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1080, 200],
      "notes": "UPDATE PATH: Replace /home/user/xtratrust/ with your actual script path"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-001",
              "name": "skipped_reason",
              "value": "Status was not 'to be applied'",
              "type": "string"
            },
            {
              "id": "assign-002",
              "name": "sr_no",
              "value": "={{ $json[\"Sr. No.\"] }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Skip Row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1080, 420]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-003",
              "name": "status",
              "value": "Browser launched successfully",
              "type": "string"
            },
            {
              "id": "assign-004",
              "name": "sr_no",
              "value": "={{ $json[\"Sr. No.\"] }}",
              "type": "string"
            },
            {
              "id": "assign-005",
              "name": "applicant",
              "value": "={{ $json[\"Name of Applicant\"] }}",
              "type": "string"
            },
            {
              "id": "assign-006",
              "name": "script_output",
              "value": "={{ $json.stdout }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Log Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1300, 200]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Excel File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Excel File": {
      "main": [
        [
          {
            "node": "Parse Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Spreadsheet": {
      "main": [
        [
          {
            "node": "Filter: to be applied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: to be applied": {
      "main": [
        [
          {
            "node": "Launch Browser Playwright",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Launch Browser Playwright": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["automation", "xtratrust", "dsc", "playwright"],
  "pinData": {}
}